.menuBar{
  display: flex;
}
li{
  padding: 20px 20px;
  margin : 0px 30px;
}
nav{
  
}
body {}

ul.menuBar {
    /* display: inline-block; */
}

li {
    display: block;
}

ul.menuBar {align-items: center;font-size: 20px;}

a {
    text-decoration: none;
}

ul.menuBar {}

ul.menuBar {}